.box {
    height: 250px;
    width: 250px;
  }
  
  .box .group {
    background-color: #d9d9d9;
    border-radius: 125px;
    height: 250px;
    left: 0;
    position: fixed;
    top: 0;
    width: 250px;
  }
  
  .box .overlap-group {
    height: 137px;
    left: 80px;
    position: relative;
    top: 57px;
    width: 91px;
  }
  
  .box .line {
    height: 70px;
    left: 0;
    position: absolute;
    top: 66px;
    width: 91px;
  }
  
  .box .img {
    height: 70px;
    left: 0;
    position: absolute;
    top: 0;
    width: 91px;
  }
  