.profile-page{
    display: flex;
    color: white;
    background-color: #606C38;
    border-radius: 20px;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(96, 108, 56, 0.8);
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 470px;
}
