
body {
  background-color: rgb(255, 255, 255);
  padding: 0;
  margin: 0;
}

.header{
    display: flex;
    background-color: #1E293B;
    height: 120px;
    width: 100%;
    align-items: center;
    text-align: center;
    
}

.logo{
    min-height: 100px;
    min-width: 100px;
    max-height: 200px;
    max-width: 200px;
    margin-left: 5%;
}

.logo img{
    height: 100%;
    width: 100%;
}

.search{
    color: white;
    display: flex;
    gap: 20;
    height: 60px;
    width: 50%;
    background-color: #2A3951;
    border-radius: 20px;
    margin-left: 5%;
}

.search p{
    width: 100%;
    opacity: 70%;
    align-items: center;
    text-align: left;
    margin-left: 20px;
    height: 100%;
}

.sr-button{
    border: none;
    cursor: pointer;
    height: 100%;
    background-color: rgb(114, 24, 231);
    width: 10%;
    border-radius: 0 20px 20px 0;
}

.sr-button:hover{
    cursor: pointer;
    height: 100%;
    background-color: rgb(93, 31, 175);
    width: 10%;
    border-radius: 0 20px 20px 0;
}

.fastnav{
    align-items: center;
    display: flex;
    gap: 30px;
    margin: 0 2% 0 2%;
    width: 60%;
    height: 60px;
}

.nav-button{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgb(114, 24, 231);
    border-radius: 50px;
    height: 50px;
    width: 50px;
    color: white;
}
.nav-buttonico{
    height: 50%;
    width: 100%;
    color: white;
}
.phonenumber{
    color: white;
    gap: 20px;
    display: flex;
    align-items: center;
    margin-left: 4%;
    width: 30%;
}
.phonenumber p{
    font-size: 18px;
}