.heroic{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: aqua;
    height: 450px;
    max-width: 1000px;
    width: 100%;
    margin-right: 2%;
    border-radius: 20px;
    overflow: hidden;
}

.heroic-image{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.heroic-image img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.heroic-text{
    display: flex;
    height: 265px;
    width: 500px;
    flex-direction: column;
    transform: translateY(-50%);
    top: 50%;
    left: 150px;
    position: absolute;
    color: white;
    justify-content: center;

}
.heroic-text h1 {
	font-size: 3rem;
	font-weight: 700;
	margin-bottom: 20px;
	line-height: 1.2;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.heroic-text p {
	font-size: 1.2rem;
	margin-bottom: 25px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	max-width: 90%;
}

.heroic-button{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 20px;
    width: 200px;
    height: 48px;
    cursor: pointer;
    background-color: rgb(114, 24, 231);
    box-shadow: 0 4px 10px rgba(120, 18, 255, 0.3);
    transition: all 0.3s ease;
}

.heroic-button:hover{
    background-color: rgb(137, 46, 255);
    box-shadow: 0 4px 10px rgba(120, 18, 255, 0.7);
    transform: translateY(-3px);
}

.heroic-next{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroic-before{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%) rotate(180deg);
    cursor: pointer;
    z-index: 10;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}